ynotsolutions.cc {
    encode zstd gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }
    reverse_proxy ynot-app:4001 {
        header_up X-Real-IP {remote_host}
        transport http {
            dial_timeout 10s
            response_header_timeout 60s
        }
    }
}
